body{
    display:flex;
    flex-direction: column;
    min-width: 375px;
      margin: 0;
}

header{
    flex: 0 80px;
    flex-wrap: wrap;
    background-color: rgba(33,37,41); ;
    width: 100%;
}
#meme{
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}
  .pages{
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    color:white;
    
  }
  .headerlist{
    flex:1;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    width:40%;
  }
  .topbar{
    color:white;
  }
  .navbar-lefttop{
    text-decoration: none;

  }
  .rightside{
    display:flex;
    flex-direction: column;
  }
  .botton-right{
    display:flex;
    float:right;
  }
  .searchbar-middle{
    width:10%;
    margin-left:1650px;
    
  }
  .searchTerm{
    text-align: center;
  }
  a:link{
       
    color:white;
}
a:visited{
    color:white;
}



/* /*header/* */

main{
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(0, 0, 0, 0.55);
    margin:0;
    }

    .video{
        width:50%;
        height:600px;
        display:grid;
    }
    .comment{
        border:solid;
        border-radius: 20px;
        padding:200px;
        position:fixed;
        right:150px;
        top: 300px;
        display:flex;
    }
    #commentbox{
        border:solid;
        position:fixed;
        top:800px;
    }
    .form{
        background-color:red;
        position:fixed;
        right:150px;
        top: 700px;
        display:flex;
        flex-direction: row;

    }

    /* footer */
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        background-color: rgba(33,37,41);
        margin: 0;
        font:200em;
        padding: 0;
      }

      .text-reset{
        float:right;
        font-size:x-large;
        margin: 0;
        color:white;
      }
      .text-left{
        font-size:x-large;
        margin: 0;
      }
